<div class="center">
    <ng-container *ngIf="!loading">
        <div class="card" style="max-width: 20rem;">
            <img src="{{producto?.image}}" class="card-img-top" alt="{{producto?.title}}">
            <div class="card-body">
              <h5 class="card-title">{{producto?.title | uppercase}}</h5>
              <h6>{{producto?.price | currency}}</h6>
              <p class="card-text">{{producto?.description}}</p>
            </div>
          </div>
    </ng-container>
</div>
<ng-container *ngIf="loading">Loading...</ng-container>